.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  border: 1px solid black;
  border-radius: 7px;
}

@media (max-width: 430px) {
  .navigation {
    flex-direction: column;
  }
}

@media (min-width: 431px) and (max-width: 768px) {
  .navigation {
    flex-direction: column;
  }
}
